# asyncio_mqtt==0.12.1
cloudevents
flask
# fastapi>=0.68.0,<0.69.0
fastapi>=0.93.0
pydantic>=1.8.0,<2.0.0
uvicorn>=0.15.0,<0.16.0
httpx
logfmter
aiomqtt
python-ulid
# pymongo
dash
dash_daq
dash_extensions
dash-bootstrap-components
dash_ag_grid
pandas
websockets
datetime
paho-mqtt
# motor