apiVersion: apps/v1
kind: Deployment
metadata:
  name: sampling-system
  namespace: msp-system
  labels:
    app: sampling-system
spec:
  selector:
    matchLabels:
      app: sampling-system
  template:
    metadata:
      labels:
        app: sampling-system
    spec:
      imagePullSecrets:
      - name: ghcr-ro-secret
      containers:
      - name: sampling-system
        # image: uasbase2.pmel.noaa.gov:448/test/sampling-system@sha256:1efee0c698b3037b822d00237114e25aacad59942c9dd9199168cc2631143d8d
        # image: registry-msp:5000/msp/sampling-system:v1.0.3
        image: ghcr.io/noaa-pmel/msp/sampling-system:1.0.5
        imagePullPolicy: "Always"
        env:
        - name: SAMPLING_SYSTEM_PORT
          valueFrom:
            configMapKeyRef:
              name: sampling-system
              key: port
        - name: SAMPLING_SYSTEM_KNATIVE_BROKER
          valueFrom:
            configMapKeyRef:
              name: sampling-system
              key: knative_broker
        - name: SAMPLING_SYSTEM_MONGODB_DATA_USER_NAME
          valueFrom:
            configMapKeyRef:
              name: sampling-system
              key: mongodb_data_user_name
        - name: SAMPLING_SYSTEM_MONGODB_REGISTRY_USER_NAME
          valueFrom:
            configMapKeyRef:
              name: sampling-system
              key: mongodb_registry_user_name
        # - name: SAMPLING_SYSTEM_MONGODB_DATA_USER_PASSWORD
        #   valueFrom:
        #     secretKeyRef:
        #       name: sampling-system-data-db-user-password
        #       key: password
        # - name: SAMPLING_SYSTEM_MONGODB_REGISTRY_USER_PASSWORD
        #   valueFrom:
        #     secretKeyRef:
        #       name: sampling-system-registry-db-user-password
        #       key: password
        - name: SAMPLING_SYSTEM_MONGODB_DATA_CONNECTION
          valueFrom:
            configMapKeyRef:
              name: sampling-system
              key: mongodb_data_connection
        - name: SAMPLING_SYSTEM_MONGODB_REGISTRY_CONNECTION
          valueFrom:
            configMapKeyRef:
              name: sampling-system
              key: mongodb_registry_connection
        # - name: SAMPLING_SYSTEM_ERDDAP_HTTP_CONNECTION
        #   valueFrom:
        #     configMapKeyRef:
        #       name: sampling-system
        #       key: erddap_http_connection
        # - name: SAMPLING_SYSTEM_ERDDAP_HTTPS_CONNECTION
        #   valueFrom:
        #     configMapKeyRef:
        #       name: sampling-system
        #       key: erddap_https_connection
        # - name: SAMPLING_SYSTEM_ERDDAP_AUTHOR
        #   valueFrom:
        #     secretKeyRef:
        #       name: uasdaq-registry-erddap-author
        #       key: author
        # - name: SAMPLING_SYSTEM_BACKLOG_MAX_TRIES
        #   valueFrom:
        #     configMapKeyRef:
        #       name: sampling-system
        #       key: backlog_max_tries
        resources:
          requests:
            cpu: "500m"
          limits:
            memory: "4Gi"
            cpu: "1000m"
        ports:
        - name: http
          # containerPort: 8000
          containerPort: 8080
          protocol: TCP
      #   volumeMounts:
      #     - name: erddap-datasetd-storage
      #       mountPath: /datasets.d
      #       # subPath: datasets.d
      #     - name: erddap-content-storage
      #       mountPath: /usr/local/tomcat/content/erddap
      #       # subPath: erddap
      #     - name: erddap-data-pv-storage
      #       mountPath: /erddapData
      #       # subPath: erddapData
      # volumes:
      #   - name: erddap-datasetd-storage
      #     persistentVolumeClaim:
      #       claimName: dataserver-erddap-datasetsd-pvc
      #   - name: erddap-content-storage
      #     persistentVolumeClaim:
      #       claimName: dataserver-erddap-content-pvc
      #   - name: erddap-data-pv-storage
      #     persistentVolumeClaim:
      #       claimName: dataserver-erddap-data-pvc